.p{
    width: 30%;
    height: 40vh;
    margin: 20px 0px;
    border: 2px solid #0bcf0b;
    border-radius: 10px 10px 10px 10px;
    overflow: hidden;
}
.p-browser{
height: 20px;
background-color: #0bcf0b;
display: flex;
align-items: center;
}
.p-circle{
width: 6px;
height: 6px;
border-radius: 50%;
background-color: #920909;
margin: 3px;
}
.p-img{
    width: 100%;
}